# local
repo_token
.vscode

# systems
delphi/rust/protocols-sys/c++/build
EzPC

# drowsiness detection (included)
case_studies/driverdrowsiness/__pycache__
case-studies/driverdrowsiness/data/dataset.mat
case_studies/driverdrowsiness/data
case_studies/driverdrowsiness/models/__pycache__
python/duplicate_results/__pycache__

## pretrained models
case_studies/driverdrowsiness/pretrained/sub1
case_studies/driverdrowsiness/pretrained/sub2
case_studies/driverdrowsiness/pretrained/sub3
case_studies/driverdrowsiness/pretrained/sub4
case_studies/driverdrowsiness/pretrained/sub5
case_studies/driverdrowsiness/pretrained/sub6
case_studies/driverdrowsiness/pretrained/sub7
case_studies/driverdrowsiness/pretrained/sub8
case_studies/driverdrowsiness/pretrained/sub9
case_studies/driverdrowsiness/pretrained/sub10
case_studies/driverdrowsiness/pretrained/sub11

# traffic flow prediction (not included)
case_studies/traffic_flow_prediction

# traffic rule violation (included)
case_studies/traffic_rule_violation/source/*
case_studies/traffic_rule_violation/crypten
case_studies/traffic_rule_violation/debug
case_studies/traffic_rule_violation/__pycache__
case_studies/traffic_rule_violation/data/hyps
case_studies/traffic_rule_violation/data/images
case_studies/traffic_rule_violation/data/scripts
case_studies/traffic_rule_violation/data/debug
case_studies/traffic_rule_violation/experiments/*
case_studies/traffic_rule_violation/experiments/batch_size_exps
case_studies/traffic_rule_violation/experiments/batched_val
case_studies/traffic_rule_violation/experiments/debug
case_studies/traffic_rule_violation/experiments/gpu_sec_outs
case_studies/traffic_rule_violation/experiments/img_visuals
case_studies/traffic_rule_violation/experiments/model_type_exps
case_studies/traffic_rule_violation/experiments/plain_out
case_studies/traffic_rule_violation/experiments/rlr_detect_results
case_studies/traffic_rule_violation/experiments/img_size_exps
case_studies/traffic_rule_violation/experiments/sec_outs
case_studies/traffic_rule_violation/model-info
case_studies/traffic_rule_violation/yolov5
case_studies/traffic_rule_violation/crypten_experiment.ipynb
case_studies/traffic_rule_violation/export.py
case_studies/traffic_rule_violation/function_alts.ipynb
case_studies/traffic_rule_violation/lr.onnx
case_studies/traffic_rule_violation/resize_model.onnx
case_studies/traffic_rule_violation/yolov5l.pt
case_studies/traffic_rule_violation/yolov5m.pt
case_studies/traffic_rule_violation/yolov5n.pt
case_studies/traffic_rule_violation/yolov5s_detect.onnx
case_studies/traffic_rule_violation/yolov5s.onnx
case_studies/traffic_rule_violation/yolov5s.pt
case_studies/traffic_rule_violation/yolov5x.pt
case_studies/traffic_rule_violation/pretrained

# multi-agent implementation
case_studies/rlr_agent_src
case_studies/green.png
case_studies/yolov5n.pt
case_studies/yolov5s.pt

# writeups
case_studies/manuscript